header {
    background-color: #FFFF00 !important;
}

.searchBox .searchInput {
    background-color: #FFFF00;
}

body {
    /*    overflow-x: hidden;*/
}

.section1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFF00;
    padding: 0.5% 12.8% 7% 19.5%;
}

.subMenuBox {
    background-color: #FFFF00 !important;
}

.section1 .p {
    margin-top: 2.1vw;
    width: 100%;
}

.section1 .inputBox {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.6vw;
}

.section1 .img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 0 8vw;
    position: relative;
}

.section1 .secImg {
    width: 25.7vw;
    margin: 0 6vw 0 0;
}

.section1 .letter {
    width: 6.5vw;
    margin: -3vw 0 0vw 0;
}

.section3,
.section2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.h2 span {
    font-family: 'GOTHAMROUNDED-BOOK';
}

.section2 .video {
    width: 61.3%;
    height: 32.7vw;
    background-color: #D8D6D6;
    margin: -4.4vw 0 4vw;
    position: relative;
}

.pinkText {
    font-size: 2.3vw;
    color: #EC008C;
    font-family: 'Gotham-Bold';
    margin: 5% 0 3%;
    letter-spacing: 0.4vw;
}

.section2 .darkBtn {
    width: 14.3vw;
    height: 3.4vw;
    font-size: 0.9vw;
}

.section2 .whiteBtn {
    width: 17.7vw;
    height: 3.8vw;
    margin: 0 0 20%;
}

.section2 .whiteBtn span {
    width: 17.7vw;
    height: 3.8vw;
    font-size: 1.2vw;
    padding: 0.3vw 2vw 0 0;
}

.btnCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btnCont img {
    position: absolute;
    width: 1.5vw;
    margin: 0 0 0 10vw;
}

.section3 {
    width: 100vw;
    height: 143px;
    position: relative;
}

.section3 .wave {
    background-image: url(../img/sec2BG.png);
    width: 100%;
    height: 143px;
    position: absolute;
    top: 0;
    left: 0;
    animation: wave 3s linear infinite;
}


.section4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1DCEB;
    padding: 4% 0 0;
}

.section4 .textBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*    padding: 3% 18% 0 0;*/
    padding: 3% 0% 0 0;
    background: rgb(241, 220, 235);
    position: relative;
}

.section4 .textBox .ballon {
    width: 65%;
}

.section4 .whiteBtn {
    width: 17vw;
    height: 3.6vw;
    font-size: 1.2vw;
}

.section4 .whiteBtn span {
    font-size: 1.2vw;
}

.section4 .btnCont {
    margin-top: 2vw;
    justify-content: flex-start;
}

.section4 .btnCont img {
    margin: 0vw;
    right: 21%;
}

.section4 .imgBlock {
    width: 50%;
    background-color: #FF40B1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1vw 6vw 1vw 0;
}

.section4 .h1,
.section4 .h2 {
    text-align: center;
}

.section4 .textBox .text {
    padding: 0 13% 0 10%;
    width: 50%;
}

.section5 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 0;
}

.section5 .boxCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0 0;
    position: relative;
}

.section5 .boxCont .box {
    width: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 8% 0 0;
}

.section5 .boxCont .box:last-of-type {
    margin: 0;
}

.section5 .boxCont .box .tittle {
    font-family: 'GothamHTF-Black';
    font-size: 1.3vw;
    text-transform: uppercase;
    margin: 16% 0;
}

.section5 .boxCont .box img {
    max-width: 100%;
}

.section5 .boxCont .box .darkBtn {
    width: 12.4vw;
    text-align: left;
    font-size: 0.8vw;
    padding: 0vw 1.3vw 0 0vw;
    background-image: url(../img/arrowBtn.png);
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: 87%;
}

.section5 .h1 {
    text-align: center;
}

.section6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C4EBF7;
    padding: 6% 17.5% 9%;
    position: relative;
}

.section6 .textBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.section6 .ballon {
    width: 35%;
    margin: 0 16% 0 0;
}

.section6 .p {
    width: 89%;
    margin-top: 6%;
}

.section6 .darkBtn {
    width: 15.8vw;
    height: 3.5vw;
    font-size: 1vw;
}

.section6 .btnCont {
    margin-top: 2vw;
    justify-content: flex-start;
}

.section6 .btnCont img {
    margin: 0vw;
    left: 58%;
}

.section7 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF86;
    padding: 0 0 3% 20.5%;
    position: relative;
}

.section7 .h1 {
    display: flex;
    flex-direction: row;
    margin: 0 0 6%;
}

.section7 .h1 span {
    font-family: 'GOTHAMROUNDED-BOOK';
    font-size: 3vw;
}

.section7 .h2 {
    width: auto;
    margin: 0 0.5vw 0 2.3vw;
}

.section7 .textBox {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.section7 .textBox .text {
    padding: 8% 6.2% 0 0;
    width: 50%;
}

.section7 .imgBox {
    width: 70%;
    background-color: #FFFF00;
    margin: -5% 0 0 0;
    padding: 5.6vw 0vw 5.6vw 9vw;
}

.section7 .ballon {
    width: 62%;

}

.section7 .darkBtn {
    width: 12.5vw;
    height: 3.5vw;
    font-size: 1vw;
}

.section7 .btnCont {
    margin-top: 2vw;
    justify-content: flex-start;
}

.section7 .btnCont img {
    margin: 0vw;
    left: 54%;
}

.section8 {
    width: 100vw;
    height: 143px;
    position: relative;
}

.section8 .wave {
    background-image: url(../img/sec7BG.png);
    width: 100%;
    height: 143px;
    position: absolute;
    top: 0;
    left: 0;
    animation: wave 3s linear infinite;
}



.mobileWave {
    display: none;
}

@media all and (max-width:768px) {


    .section1 .img {
        margin: 7vw 0 0 15vw;
        flex-direction: row;
        align-items: flex-start;
    }

    .section1 .secImg {
        width: 56.7vw;
        margin: 0 2vw 0 0;
    }

    .section1 .letter {
        width: 13.5vw;
        margin: 6vw 0 0vw 0;
    }

    .section1 {
        padding: 7.2% 15.8% 9% 16.5%;
        flex-direction: column;
    }

    .section1 .p {
        margin-top: 6.1vw;
        width: 89%;
    }

    .section2 {
        padding: 10% 7%;
    }

    .section2 .video {
        width: 100%;
        height: 45.5vw;
        background-color: #D8D6D6;
        margin: 0 0 9vw;
    }

    .section2 .whiteBtn span {
        height: 101%;
        width: 35vw;
        padding: 0.3vw 6vw 0 0;
    }

    .section2 .whiteBtn {
        width: 35vw;
        height: 8vw;
        margin: 0;
    }

    .pinkText {
        font-size: 3.8vw;
        margin: 11% 0 10%;
        letter-spacing: 0.5vw;
    }

    .section4 .textBox {
        padding: 6% 0% 0;
        flex-direction: column-reverse;
    }

    .section4 .imgBlock {
        width: 100%;
        justify-content: center;
        padding: 3vw 0vw 3vw 0;
    }

    .section4 {
        padding: 2% 0 0;
    }

    .section4 {
        padding: 7% 0% 0;
    }

    .section4 .textBox .text {
        padding: 0 7%;
        width: 100%;
    }

    .section4 .btnCont {
        margin-top: 0;
        justify-content: center;
    }

    .section4 .whiteBtn {
        width: 33vw;
        height: 8vw;
        margin: 5vw 0 7vw;
    }

    .section4 .btnCont img {
        display: none;
    }

    .section4 .textBox .ballon {
        width: 40%;
    }

    .section5 .boxCont {
        padding: 7% 8% 0;
    }

    .section5 .boxCont .box .tittle {
        font-size: 2.2vw;
        margin: 12% 0;
    }

    .section5 .boxCont .box .darkBtn {
        font-size: 2vw;
        width: 24.7vw;
        height: 6vw;
        padding: 0vw 5.3vw 0.2vw 2.8vw;
        background-size: 8%;
        background-position: 90%;
    }

    .section5 .boxCont {
        justify-content: space-between;
    }

    .section5 .boxCont .box {
        width: 25vw;
        margin: 0 6% 0 0;
    }

    .section6 {
        padding: 7% 7% 8%;
    }

    .section6 .ballon {
        width: 33%;
        margin: 0;
    }

    .section6 .p {
        width: 100%;
    }

    .section6 .h1 {
        text-align: center;
    }

    .section6 .h2 {
        padding-left: 17vw;
    }

    .section6 .textBox {
        padding: 0%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .section6 .btnCont img {
        position: relative;
        width: 3.5vw;
        margin: 2vw 0 0 4vw;
        left: 0;
    }

    .section7 {
        padding: 7% 0% 0%;

    }

    .section7 .textBox {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .section7 .ballon {
        width: 40%;
    }

    .section7 .imgBox {
        width: 100%;
        margin: -18vw 0 0;
        padding: 20vw 0 7%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .section7 .h1 {
        margin: 0 0 6%;
        text-align: center;
        justify-content: center;
    }

    .section7 .h1 span {
        font-size: 3.3vw;
    }

    .section7 .btnCont img {
        position: relative;
        width: 3.5vw;
        margin: 2vw 0 0 4vw;
        left: 0;
    }

    .section1 .inputBox {
        width: 100%;
        margin-top: 8.6vw;
    }

    .section1 .whiteBtn,
    .section2 .darkBtn {
        font-size: 2.7vw;
        width: 35vw;
        height: 8vw;
    }

    .section8 {
        display: none;
    }


    .section6 .darkBtn,
    .section7 .darkBtn {
        font-size: 2.7vw;
        width: 35vw;
        height: 8vw;
    }

    .section6 .btnCont,
    .section7 .btnCont {
        margin: 7% 0 9%;
        justify-content: center;
    }

    .whiteBtn span {
        font-size: 2.7vw !important;
    }

    .section2 .btnCont img {
        position: relative;
        width: 3.5vw;
        margin: 2vw 0 0 6vw;
        right: 0;
    }

    .btnCont img {
        position: absolute;
        width: 1.5vw;
        margin: 0px 0 0 14vw;
        right: 37%;
    }

    .section4 .whiteBtn span {
        padding: 0.3vw 5vw 0 0;
    }

    .nav__container {
        background-color: #FFFF00 !important;

    }

    .section7 .textBox .text {
        padding: 0 7%;
        width: 100%;
    }

    .mobileWave {
        display: flex;
    }


}



@media all and (max-width:425px) {

    .section3 .wave,
    .mobileWave .wave {
        width: 100%;
        height: 52px;
        background-size: cover;
        animation: wave 5s linear infinite;
    }

    .mobileWave .wave {
        position: absolute;
        z-index: 10;
        top: 2vw;
    }


    .section5 .boxCont .box .darkBtn {
        font-size: 1.8vw;
        width: 23.7vw;
        padding: 0.2vw 5.3vw 0 2.8vw;
        background-size: 9%;
    }

    .section7 .imgBox {
        margin: -11vw 0 0;
    }

    .section9 {
        padding: 13% 0 0;
    }


    [data-aos][data-aos][data-aos-delay="700"].aos-animate,
    body[data-aos-delay="700"] [data-aos].aos-animate {
        transition-delay: .3s !important;
    }


    .section3,
    .mobileWave {
        height: 52px;
    }


}
