header {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16);
}

footer {
    padding: 6vw 8vw 1.9vw 11.4vw;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.h2 span {
    font-family: 'GOTHAMROUNDED-BOOK';
}

.section1 {
    width: 100%;
    height: fit-content;
}

.section1 .box .text {
    width: 53%;
    display: flex;
    flex-direction: column;
    background: #FF40B1;
    padding: 6% 4% 6% 19%;
}

.section1 .box .text .h2 {
    margin: 0 0 1.5vw;
}

.section1 .box .text .p {
    padding: 0 21% 0 0;
}

.section1 .imgBox {
    background-color: #F1DCEB;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4% 0;
}

.section1 .imgBox img {
    width: 45%;
    margin: 0 16% 0 0;
}

.section2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6% 0 10%;
}

.section2 .video {
    width: 61%;
    height: 32.7vw;
    background-color: #D8D6D6;
    margin: 0 0 5.8vw;
}

.section2 .darkBtn,
.section6 .darkBtn {
    background-image: url(../img/whiteArrow.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 90%;
    width: 16.6vw;
    height: 3.5vw;
    padding: 0 1.3vw 0 0;
    font-size: 1vw;
}

.darkBtn:hover {
    background-image: url(../img/arrowPlan.png);
}

.section3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 18.3% 7%;
}

.h3 {
    font-size: 2.3vw;
    font-family: 'GothamHTF-Black';
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    line-height: 1.5;
    width: 100%;
    margin: 0 0 6%;
}

.section3 .box {
    margin: 0 0 10%;
}

.section3 .box img {
    width: 33%;
    margin: 0 6vw 0 0;
}

.section3 .box:nth-of-type(2) img {
    margin: 0 0 0 6vw;
}

.section3 .box:nth-of-type(2) .text {
    width: 41%;
}

.section3 .box:last-of-type {
    margin: 0;
}

.section3 .box .text {
    width: 48%;
}

.section4 {
    background-color: #C4EBF7;
    width: 100%;
    padding: 3% 22.3% 1%;
}

.section4 .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section4 .imgBox img {
    width: 21.4vw;

}

.section4 .box .boxBottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section4 .box .text {
    border-bottom: 0.22vw solid #FF40B1;
    padding: 2vw 2vw 2.5vw;
}

.section4 .boxTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2% 0 0;
}

.section4 .boxTop div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section4 .boxTop div:last-of-type {
    margin: -3% 0 0 8%;
}


.section4 .boxTop p {
    font-size: 2vw;
    font-family: 'GothamRounded-BoldItalic';
    text-align: center;
}

.section4 .boxTop .rotate {
    transform: rotate(180deg);
    padding: 2% 1% 0% 0%;
}

.section4 .boxTop span {
    font-size: 4vw;
    font-family: 'GothamRounded-BoldItalic';
    padding: 0% 1% 0% 0%;
}

.section5 {
    width: 100%;
    height: 143px;
    position: relative;
    background-color: #FFFF00;
}

.section5 .wave {
    background-image: url(../img/sec5wave.png);
    width: 100%;
    height: 143px;
    position: absolute;
    top: 0;
    left: 0;
    animation: wave 3s linear infinite;
}

.section6 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section6 .box {
    background-color: #FFFF00;
    padding-top: 4%;
}

.section6 .box .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 6% 7.3% 6% 22.2%;
    background-color: white;
    position: relative;
}

.section6 .p {
    font-size: 1.6vw;
}

.section6 .box .text .border {
    border-bottom: 0.22vw solid #FFFF00;
    padding: 0 0 8% 3.5%;
}

.section6 .box .text p {
    padding: 10% 0 10% 3.5%;
}

.section6 .box .text .btnCont {
    margin-left: 3.5%;
}

.section6 .box .imgBox {
    padding: 2.1% 8% 3.9% 9%;
}

.section6 .box .imgBox .lilo {
    width: 23.8vw;
}

.section6 .boxLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 12%;
}

.boxLeft .footerText {
    color: black;
    font-size: 1.25vw;
    font-family: 'GOTHAMROUNDED-BOOK';
    margin: 0.5vw 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 17vw;
}

.boxLeft .footerText:hover {
    cursor: pointer;
}

.section6 .boxLeft .footerText p {
    width: 80%;
    border-bottom: 1px solid black;
    padding: 0 0 0.5vw;
}

.section6 .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.section6 .top .boxLeft {
    display: none;
}

.section9 {
    display: none !important;
}

@media all and (max-width:768px) {
    .section3 .box:nth-of-type(2) .text {
        width: 45%;
    }

    .section9 {
        display: flex !important;
    }

    header {
        box-shadow: none;
    }

    .sectionMobile {
        width: 100%;
        height: 143px;
        position: relative;
        margin-top: 5%;
    }

    .sectionMobile .wave {
        background-image: url(../img/sec1MobBG.png);
        width: 100%;
        height: 143px;
        position: absolute;
        top: 0;
        left: 0;
        animation: wave 3s linear infinite;
    }

    .container {
        border-bottom: 0.2vw solid #EC008C;
    }

    .section1 .box {
        flex-direction: column;
    }

    .section1 .box .text {
        padding: 9% 0 9% 18%;
        width: 100%;
    }

    .section1 .imgBox {
        padding: 0% 0 3%;
        width: 100%;
    }

    .section1 .imgBox img {
        width: 40%;
        margin: 0;
    }

    .section2 .darkBtn,
    .section6 .darkBtn {
        width: 35.7vw;
        height: 8.5vw;
        font-size: 2.5vw;
        background-position: 91%;
        padding: 0 2.3vw 0 0;
        border-radius: 10vw;
    }

    .section2 .video {
        width: 100%;
        height: 45.5vw;
        margin: 0 0 9vw;
    }

    .section2 {
        padding: 9% 7% 10%;
    }

    .section3 {
        padding: 9% 8%;
    }

    .section3 .box {
        margin: 0 0 16%;
    }

    .section4 {
        padding: 8% 14.3% 9%;
    }

    .section6 .box .text {
        padding: 11% 11%;
    }

    .section1,
    .section3,
    .section4,
    .section5,
    .sectionMobile {
        position: relative;
        overflow-x: hidden;
    }

    .h3 {
        font-size: 3.3vw;
    }

    .section4 .box .boxBottom {
        flex-direction: column-reverse;
    }

    .section4 .imgBox img {
        width: 28.4vw;
        margin-top: 11%;
    }

    .section4 .boxTop p {
        font-size: 3vw;
        line-height: 3;
    }

    .section6 .box {
        flex-direction: column-reverse;
    }

    .section6 .box .imgBox {
        padding: 5% 0 8%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section6 .box .imgBox .boxLeft {
        display: none;
    }

    .section6 .box .imgBox .lilo {
        width: 33.8vw;
    }

    .section6 .p {
        font-size: 2.7vw;
    }

    .section6 .top .boxLeft {
        display: flex;
        margin: 0;
    }

    .section6 .box .text p {
        padding: 7% 0;
    }

    .section6 .boxLeft .footerText {
        font-size: 2.25vw;
        width: 35vw;
        margin: 0;
    }

    .section6 .footerArrow {
        width: 3.5vw;
        margin: 0 0 0.7vw;
    }

    .section6 .boxLeft .footerText p {
        border-bottom: none;
    }

    .section6 .boxLeft .footerText {
        border-bottom: 1px solid black;
    }

    .section6 .boxLeft .footerText:first-of-type {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .section6 .box .text .border {
        padding: 0 0 5%;
    }

    .section6 .box .text .btnCont {
        margin-left: 0;
    }

    .footerBox .boxLeft {
        margin: 0;
    }
}

@media all and (max-width:425px) {


    .section5 .wave,
    .sectionMobile .wave {
        height: 52px;
        background-size: cover;
        animation: wave 5s linear infinite;
    }

    .sectionMobile,
    .section5 {
        height: 52px;
    }


}
